* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text:none;
}
body{
  height: 100%;
  overflow-x: hidden;
}

body .upload {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

#img-preview {
  display: var(--text);
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding-bottom: 5rem;
}


#img-preview .img-col {
  /* height: 30%; */
  margin-bottom: 2rem;
  width: 30%;
  border: 2px solid black;
}

.input-group{
  justify-content: center;
    margin-bottom: 5rem;
}

.input-group input{
  max-width: fit-content;

}

footer{
  padding: 4rem;
}