{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CureAI</title>
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}"/>

    {% block headcontent %}
    {% endblock %}
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2371d6;">
        <div class="container" style="padding: 0.3rem 0px 0.3rem 0px;">
          <a class="navbar-brand" style="margin-left: 1rem; padding: 0rem 0rem 0.2rem 0rem; font-size: 28px; font-weight: 700;"><b>CureAI</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% block navitemsleft %}
              {% endblock %}
            </div>
          </div>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% block navitemsright %}
              {% endblock %}
            </div>
          </div>
        </div>
    </nav>

    <!-- Body Content Goes here -->
    {% block content %}
    {% endblock %}

    <footer class=" text-center bg-dark text-light">
        <div class="row">
          <div class="col-12 pb-2">
            <h6 class="lead mb-4">Designed and Developed By Team Base64</h6>
            <p>Copyright ©
              <span id="year">2021</span> CureAI</p>
          </div>
        </div>
    </footer>


    <!-- Footer
    <footer class="bg-light bg-dark text-light">
      <div class="container p-1">
        <section class="text-center">
          <h6 class="lead">Designed and Developed By Team Base64</h6>
        </section>
      </div>
      <div class="bg-light bg-dark text-light text-center">
        <p>Copyright ©
          <span id="year">2021</span> CureAI</p>
      </div>
    </footer> -->


    {% block scripts %}

    {% endblock %}


</body>

</html>